@import '../color';
@media only screen and (max-width: 800px) {
  .grid-container{
    display: flex !important;
    background-color: white !important;
    
  }

  .main-header{
   display: flex !important;
   position: fixed;
   bottom: -1px;
   z-index: 2;
   width: 100vw;
   margin-bottom: 0 !important;

  }
  main{
    grid-column: 1/-1 !important;
    padding: 0 10px !important;
    align-items: center !important;
    
  }
  .main-body{
    align-items: center !important;
    background-color: white !important;
  }

  .post-card{
    margin-top: 20px !important;
    width: 90% !important;
    box-shadow: none !important;

  }

  .image{
    border: 1px solid transparent;
    border-radius: 12px;
    > img{
      height: 100% !important;
    }
  }

    .profile_options{
      display: flex !important;
      justify-content: center;
      align-items: center;
      position: absolute !important;
      right: 0 !important;
     }
  
}

:host{
  height: 100%;
  
}
.grid-container{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  justify-content: center;
  background-color: $bg-1;
}
.main-header{
  height: 10vh;
  grid-column: 1/-1;
  margin-bottom: 20px;
  padding: 0 15px;
  

}

main{
  
  grid-column: 4/9;

  .main-body{
    background-color: $bg-1;
    display: flex;
    flex-direction: column;
  }
}

.post-card {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
  > *{
    padding: 5px 0;
  }
  .image{
    width: 100%;
    height: 400px;
    background-color: $bg-6;
    display: flex;
    justify-content: center;
    align-items: center;

    > img{
      height: 100%;
      width: 100%;
    }
  }

  
}

#post_description{
  font-size: 1.3em !important;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

button{
  :hover{
    color: blue;
  }
}