@import '../color';
:host{
  height: 100%;
}
.grid-container{
  background-color: $bg-1;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  height: 100vh;
  justify-content: center;
}
.main-header{
  height: 50px;
  display: flex;
  grid-column: 1/12;
  background-color: $bg-1;

}