@import '../color';
:host{
  height: 100%;
}
.grid-container{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  height: 100vh;
  justify-content: center;
}
.main-header{
  height: 10vh;
  display: flex;
  grid-column: 1/-1;
  overflow: hidden;
  border-bottom: 1px solid red;
  justify-content: center;
  align-items: center;
  padding: 0 15px;

}

main{
  background-color: white;
  grid-column: 4/9;

  .main-body{
    height: 80vh;
    background-color: $bg-1;
    display: flex;
    flex-direction: column;
  }
}

.post-card {
  width: 400px;

  .image{
    width: auto;
    height: 400px;
    background-color: $bg-6;

    > img{
      height: 100%;
      width: 100%;
    }
  }
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}