<section class="grid-container">
  <header class="main-header">
    <app-header></app-header>
  </header>

  <main>
    <section class="main-body">
      <ng-container *ngFor="let datum of posts">
        <mat-card class="post-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>{{datum.author}}</mat-card-title>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
          </mat-card-header>
          <div class="image">
            <img mat-card-image src={{datum.post_picture}} alt="Photo of a Shiba Inu">
          </div>
          <mat-card-content>
            <p>
              {{datum.post_description}}
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
        </mat-card>
        
      </ng-container>
    </section>
  </main>

  <footer>

  </footer>

</section>