$bg-1: #F6F5EE;
$bg-4: #EA7E4A;

h1, h4{
    font-family: monospace, "Helvetica Neue", Roboto, sans-serif;
    font-weight: 400;
}

p{
    font-weight: 200;
    font-size: 0.9em;
    margin: 15px 0;
}
:host{
    height: 100%;
    background-color: $bg-1;
}
.login-section, .section-form, form{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}
.section-form{
    display: flex;
    justify-content: flex-start;
}


.email-field, .password-field, button{
    width: 250px;
    margin: 20px 0 0 0;

}
.btn-submit{
    background-color: $bg-4;
    color: white;
}
.login-section-text{
    margin: 30px 0;
    padding: 30px 0;
}

h1{
    margin: 20px 0;
    font-size: 1.2em;
}
h4{
    margin: 10px 0;
}

.section-inscription{
   margin-top: 20vh;
}

.remember-me{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 20px 0 0 0;
}

.remember-me-mat{
    font-family: monospace, "Helvetica Neue", Roboto, sans-serif;
}