<section class="login-section">
  <section class="login-section-text">
    <h1>
      Re-{{startMessage}} !
    </h1>

    <h4>
      Vous nous avez manqué !
    </h4>
  </section>


  <section class="section-form">
    <form>
      <mat-form-field class="form-input" appearance="fill" class="email-field">
        <mat-label>Votre numéro de télephone</mat-label>
        <input matInput placeholder="example@gmail.com" type="email" name="email">
      </mat-form-field>

      <mat-form-field class="form-input" appearance="fill" class="password-field">
        <mat-label>Votre mot de passe</mat-label>
        <input matInput [type]="visible ? 'text' : 'password'" name="password">
        <a matSuffix mat-icon-button (click)="changeVisibility()">
          <mat-icon *ngIf="visible">visibility</mat-icon>
          <mat-icon *ngIf="!visible">visibility_off</mat-icon>
        </a>
        
      </mat-form-field>

      <button type="submit" class="btn-submit" mat-flat-button color="accent">Connexion</button>
    </form>
    <p>Pas encore inscrit ? <a href="">Inscrivez-vous</a></p>

  </section>
</section>