<section class="login-section">
  <section class="login-section-text">
    <h1>
      Re-{{startMessage}} !
    </h1>

    <h4>
      Vous nous avez manqué !
    </h4>
  </section>


  <section class="section-form">
    <form>
      <mat-form-field class="form-input" appearance="fill">
        <mat-label>Votre numéro de télephone</mat-label>
        <input matInput placeholder="Commencez par +243" type="number">
      </mat-form-field>

      <button type="submit" class="btn-submit">Connexion</button>
    </form>

  </section>
</section>