<header>
    <section class="logo">
        <img [src]="logo_principal" alt="">
    </section>
    <nav>
        <button mat-flat-button>
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home">Acceuil</mat-icon>
            <span class="icon-label">Acceuil</span>
        </button>
        <button mat-flat-button>
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="chat_bubble_outline"></mat-icon>

            <span class="icon-label">Message</span>
        </button>
        <button mat-flat-button>
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="whatshot"></mat-icon>
            <span class="icon-label">Decouvrir</span>
        </button>
        <button mat-flat-button>

            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="notifications_none"></mat-icon>
            <span class="icon-label">Notifications</span>

            <span class="notification_counter">
                {{notificationCounter}}
            </span>
        </button>
    </nav>

    <section class="profile-section">
        <div class="profile-div">
            <div class="profile-img">
                <img [src]="profile1" alt="">
            </div>
            <span id="profile-name">{{currentUser}}</span>
        </div>
    </section>
</header>