@import '../../../color';
:host{
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.logo{
    display: flex;
    align-items: center;
}

header {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

button{
    padding: 0 20px;
    margin: 0 10px;
    border-radius: 15px;
}

.profile-section{
    display: flex;
    justify-content: flex-start;
}

.profile-div, .notification-div{
 display: flex;
 justify-content: center;
 align-items: center;

 #profile-name{
    font-weight: 500;
    padding: 0 10px;
 }
}
.profile-img > img {
    height: 40px;
    width: 40px;
    border-radius: 40px;
}

.notification-div{
    margin: 0 10px;
}

.notification_counter{
    height: 20px;
    width: 30px;
    border-radius: 100%;
    margin: 7px;
    padding: 5px 7px;
    background-color: $bg-7;
    color: white;
}