<header>
    <section class="logo">
        <img [src]="logo_principal" alt="">
    </section>
    <nav>
        <button mat-icon-button>
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home">Acceuil</mat-icon>
            Acceuil
        </button>
        <button mat-icon-button>
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="chat_bubble_outline"></mat-icon>

            Messages
        </button>
        <button mat-icon-button>
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="whatshot"></mat-icon>
            Decouvrir
        </button>
        <button mat-icon-button>

            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="notifications_none"></mat-icon>
            Notifications

            <span>
                {{notificationCounter}}
            </span>
        </button>
    </nav>

    <section class="profile-notifications-section">
        <div class="profile-div">
            <div class="profile-img">
                <img [src]="profile1" alt="">
            </div>
        </div>
    </section>
</header>