@import '../color';
.whatsup {
    width: 100%;
    min-height: 20vh;
    background-color: $bg-10;
    filter: contrast(130%);
    color: white;
  
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 10px 0 20px 0;
    padding: 10px 0;
    border-radius: 10px;
}

.post_it {
    display: flex;
    width: 100%;
    align-items: center;

    mat-form-field {
        transform: translateY(7px);
        width: 85%;

        input {
            border-radius: 45px !important;
        }
    }

}

.profile_picture {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;

    img {
        height: 40px;
        width: 40px;
        border-radius: 40px;
    }
}

.options {
    display: flex;
    padding: 5px 10px 2px 0;
    align-self: flex-start;
    justify-content: center;
    background-color: inherit;
}

mat-divider {
    width: 95% !important;
}

.image-btn {
    color: #1dc3ff;
    background-color: inherit;
}

.video-btn {
    color: #60e2b7;
    background-color: inherit;
}

#postIt{
    button{
        background-color: inherit;
        color: white;
    }
    background-color: inherit;
}
.form_label{
    color: white;
}
:host ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    color: white;
}