<section class="whatsup">
  <div class="post_it">
    <div class="profile_picture">
      <img src="./assets/profile1.jpg" alt="">
    </div>
    <mat-form-field appearance="outline">
      <mat-label class="form_label">A quoi pensez-vous?</mat-label>
      <input matInput>
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    </mat-form-field>
  </div>
  <mat-divider></mat-divider>
  <section class="options">
    <nav id="postIt">
      <button mat-flat-button>
        <mat-icon class="image-btn"> insert_photo</mat-icon>
        image
      </button>
      <button mat-flat-button>
        <mat-icon class="video-btn">movie_creation</mat-icon>
        Video
      </button>
    </nav>
  </section>
</section>