
$bg-1: #F6F5EE;
$bg-2: #0E393A;
$bg-3: #CB9116;
$bg-4: #EA7E4A;
$bg-5: #309563;

$ht-1:170px;

$point-1: 15vw;
$point-2: 30px;
$point-3: 12vw;
$point-4: 11vw;
$point-5: 10vw;

// CSS for big screens

@media only screen and (min-width: 800px) {
   
  }

.primary-section{
    background-color: $bg-1;
    height: 100vh;
    padding: $point-2 $point-3;
}


h1{
    color: $bg-2;
    font-family: monospace, "Helvetica Neue", Roboto, sans-serif;
    font-size: 1.7em;
    font-weight: 400;
    margin: 0 0 $point-2 0 ;
}
h4{
    color: $bg-2;
    font-weight: 300;
    line-height: 1.5em;
    margin: 0 0 $point-2 0 ;
    
}

.primary-figures{
    height: 25rem;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px 20px;
    
    
   
    
}
.figure{
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle-1, .circle-2, .figure-1, .figure-2{
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle-1, .circle-2{
    
    height: $ht-1;
    width: $ht-1;
    border-radius: 100%;
}
.figure-1, .figure-2{
    height: $ht-1;
    width: $ht-1;
}
.circle-1{
    background-color: $bg-3;
}
.circle-2{
    background-color: $bg-2;
}
.figure-1{
    background-color: $bg-5;
    border-top-left-radius: $point-1;
}
.figure-2{
    background-color: $bg-4;
    border-top-left-radius: $point-1;
    
}

