<section class="primary-section">
    <section class="primary-section-header">
        <h1 class="primary-section-text-1">
            Apprenez de vos amis stagiaires, comme vous !
        </h1>
    </section>

    <section class="primary-section-body">
        <h4>
            Notre philosophie est simple. 
            Nous croyons que la science doit etre partagee pour le bien du plus grand nombre
        </h4>
    </section>
   
    <section class="primary-figures">
        <span class="figure">
            <span class="circle-1"></span>
        </span>
        <span class="figure">
            <span class="figure-1"></span>
        </span>
        <span class="figure">
            <span class="figure-2"></span>
        </span>
        <span class="figure">
            <span class="circle-2"></span>
        </span>
    </section>
   

</section>
