
$bg-1: #F6F5EE;
$bg-2: #0E393A;
$bg-3: #CB9116;
$bg-4: #EA7E4A;
$bg-5: #309563;

$ht-1:170px;

$point-1: 15vw;
$point-2: 30px;
$point-3: 12vw;
$point-4: 11vw;
$point-5: 10vw;

// CSS for big screens

@media only screen and (min-width: 800px) {
   :host{
    display: grid;
    grid-template-columns: 60% 40%;
   }

   .primary-section{
    grid-column: 1;
   }
   .login-component{
    grid-column: 2;
   }
  }
*{
    transition: all 1s ease-in-out;
}

.primary-section{
    padding: 30px 30px 0 30px;
    height: 100%;
}
.primary-section-p1{
    background-color: $bg-1;
}
.primary-section-p2{
    background-color: $bg-2;
}
.primary-section-p3{
    background-color: $bg-3;
}

h1{
    font-family: monospace, "Helvetica Neue", Roboto, sans-serif;
    font-size: 1.7em;
    font-weight: 400;
    margin: 0 0 $point-2 0;
}
.primary-section-text-1, .primary-section-text-1-p3{
    color: $bg-2;
   
}
.primary-section-text-1-p2{
    color: $bg-1;
}




h4{
    font-weight: 300;
    line-height: 1.5em;
    
}
.h4-1{
    color: $bg-2;
}
.h4-2{
    color: $bg-1;
}
footer{
    padding-top: 10px;
}

footer > h4{
    cursor: pointer;
    user-select: none;
}

.footer-page1{
    color: $bg-2;
    :hover, :active{
        color: $bg-5;
        transition: all .1s ease;
        text-decoration: underline;
    }
}
.footer-page2{
    color: $bg-1;
    :hover, :active{
        color: inherit;
        transition: all .1s ease;
        text-decoration: underline;
    }
}
.footer-page3{
    color: $bg-2;
    :hover, :active{
        color: inherit;
        transition: all .1s ease;
        text-decoration: underline;
    }
}


.primary-figures{
    height: 20rem;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px 10px;
    justify-content: center;
    align-items: center;
    justify-items: center;
    padding: 0 20px;
    
   
    
}
.figure{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.circle-1, .circle-2, .figure-1, .figure-2, .circle-p2{
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle-1, .circle-2, .circle-p2{
    
    height: $ht-1;
    width: $ht-1;
    border-radius: 100%;
}
.figure-1, .figure-2{
    height: $ht-1;
    width: $ht-1;
}
.circle-1{
    background-color: $bg-3;
}
.circle-p2-1{
    background-color: $bg-4;
}
.circle-p2-2{
    background-color: $bg-3;
}
.circle-p2-3{
    background-color: $bg-5;
}
.circle-p2-4{
    background-color: $bg-1;
}
.circle-2{
    background-color: $bg-2;
}
.figure-1{
    background-color: $bg-5;
    border-top-left-radius: $point-1;
}
.figure-2{
    background-color: $bg-4;
    border-top-left-radius: $point-1;
    
}

